 
.embed #container {
    padding: 0;
    margin: 0;
}

.embed form ul li {
    padding: 0;
    max-width: 97% !IMPORTANT;
    margin-top: 15px;
}

.wufoo li.focused {
    background-color: #0000 !important;
    outline: none;
}
 
.wufoo input.text, 
.wufoo textarea.textarea, 
.wufoo input.file, 
.wufoo select.select,
.wufoo input#Field118_other{
    background: none !IMPORTANT;
    height: 50px !important;
    outline: none;
    display: block;
    max-height: 50px;
    box-sizing: border-box;
}
.wufoo textarea.textarea{
    height: 150px;
    max-height: 150px;
}
.wufoo li#fo2li1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wufoo li#fo2li1 label {
    width: 100%;
}

.wufoo li#fo2li1 span {
    width: 49%;
    float: unset;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
}

.wufoo li#fo2li1 span input.text {
    max-width: 93% !IMPORTANT;
    display: block;
}

form li span {
    float: none;
}

 

form.wufoo > ul {
    display: block;
    padding: 0;
    list-style: none;
}

form.wufoo > ul label {
    font-weight: 500;
    display: block;
}

form.wufoo > ul li {
    display: block;
    margin-bottom: 10px;
}

.mb25{
	margin-bottom: 25px !important;
	display: block;
}


form.wufoo > ul li textarea,form.wufoo > ul li input,form.wufoo > ul li select {
    display: block;
    width: 100%;
    border: 1px solid #dbdbdb;
    padding: 10px;
    border-radius: 3px;
    margin-top: 10px;
    outline: none;
}

.wufoo .instruct {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
	background-color:#F5F5F5
}
span.flexTxtInp {
    display: flex;
    flex-wrap: wrap;
	align-items: center;
    justify-content: flex-start;
}

span.flexTxtInp input {
    margin: 0 !important;
    margin-right: 10px !IMPORTANT;
    width: max-content !IMPORTANT;
}
.flexElements {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.flexElements > span {
    width: 15%;
    display: flex;
    align-items: center;
    margin-right: 1%;
}

.flexElements > span input,.flexElements > span select {
    margin: 0 !important;
}

.flexElements > img#pickdate111 {
    display: block;
}
.flexElements.lb100 label {
    display: block;
    width: 100%;
}

.flexElements.lb100 span {flex-wrap: wrap;}
section {
    text-align: center;
    margin: 30px 0;
}
.wufoo input.text, 
.wufoo textarea.textarea, 
.wufoo input.file, 
.wufoo select.select,
.wufoo input#Field118_other{
    background: none !IMPORTANT;
    height: 50px !important;
    outline: none;
    display: block;
    max-height: 50px;
    box-sizing: border-box;
}

.wufoo li#fo4li1, .wufoo li#fo4li6, .wufoo li#fo2li42, .wufoo li#fo2li36 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.wufoo li#fo4li1 label,.wufoo li#fo4li6 label {
    display: block;
    width: 100%;
}

.wufoo li#fo4li1 span {
    margin: 0;
    width: 46%;
}

.wufoo li#fo4li6 span:not(.symbol), .wufoo li#fo2li42 span:not(.symbol), .wufoo li#fo2li36 span:not(.symbol) {
    margin: 0;
    width: 32%;
}

.wufoo li#fo4li6 span.symbol, .wufoo li#fo2li42 span.symbol, .wufoo li#fo2li36 span.symbol {
    margin: 0;
}

.wufoo li#fo4li15 fieldset div, .wufoo li#fo4li116 fieldset div, .wufoo li#fo4li118 fieldset div, .wufoo li#fo4li121 fieldset div {
    display: flex;
    flex-wrap: wrap;
}

.wufoo li#fo4li15 fieldset div span, .wufoo li#fo4li116 fieldset div span, .wufoo li#fo4li118 fieldset div span, .wufoo li#fo4li121 fieldset div span {
    width: max-content;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-top: 10px;
}

.wufoo li#fo4li15 fieldset div span input, .wufoo li#fo4li116 fieldset div span input, .wufoo li#fo4li118 fieldset div span input, .wufoo li#fo4li121 fieldset div span input {
    margin: 0;
    width: max-content;
    display: block;
}

.wufoo li#fo4li15 fieldset div span label, .wufoo li#fo4li116 fieldset div span label, .wufoo li#fo4li118 fieldset div span label, .wufoo li#fo4li121 fieldset div span label {
    margin: 0;
    padding: 0;
    margin-left: 5px;
}
.wufoo textarea.textarea {
    max-height: 150px;
    height: 100px !important;
}
.wufoo input.file {
    display: block;
    border: 1px solid #dbdbdb !important;
    height: auto !IMPORTANT;
}

form.wufoo > ul li#fo2li32 span,form.wufoo > ul li#fo2li33 span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

form.wufoo > ul li#fo2li32 span input,form.wufoo > ul li#fo2li33 span input {
    width: auto;
    margin: 0;
}

form.wufoo > ul li#fo2li32 span label,form.wufoo > ul li#fo2li33 span label {
    margin: 0;
    padding: 0;
    margin-left: 10px;
}




/* Tablet screen :768px. */
@media (min-width: 768px) and (max-width: 991px) {
	.flexElements > span {
		width: 24%; 
	}

} 
/* Tablet screen :768px. */
@media (max-width: 767px) {
	.flexElements > span {
		width: 30%;
	}

} 













