body{
	background:red
}
.embed #container {
    padding: 0;
    margin: 0;
}

.embed form ul li {
    padding: 0;
    max-width: 97% !IMPORTANT;
    margin-top: 15px;
}

.wufoo li.focused {
    background-color: #0000 !important;
    outline: none;
}

.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select {
    background: none !IMPORTANT;
    height: 30px !important;
    outline: none;
    display: block;
    max-height: 30px;
}

.wufoo li#fo2li1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wufoo li#fo2li1 label {
    width: 100%;
}

.wufoo li#fo2li1 span {
    width: 49%;
    float: unset;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
}

.wufoo li#fo2li1 span input.text {
    max-width: 93% !IMPORTANT;
    display: block;
}

form li span {
    float: none;
}

/* - - - - - - - - - - - - - - - - - - - - -

 Title : Example Custom CSS : DinoMaster!
 URL : http://wufoo.com

 Last Updated : April 1, 2011

- - - - - - - - - - - - - - - - - - - - - 

INSTRUCTIONS
1. Copy / Paste all or portions of these
CSS rules into "custom.css".

2. Experiment and play.

- - - - - - - - - - - - - - - - - - - - - */

/* - - - Default - - - */

/* Logo 
#logo a {background-image:url('http://wufoo.com/images/themes/logos/shark.png'); min-height:0; height:40px}*/
* html #logo a {/* IE6 png Support
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://wufoo.com/images/themes/logos/shark.png", sizingMethod="crop"); */
}

/* Backgrounds
html{background-image:none;background-color:#99cc00}
#logo{background-image:none;background-color:#669900}
#container{background:#FFFFFF}
.wufoo input.text, .wufoo textarea.textarea{background:#FFFFFF url(/images/fieldbg.gif) repeat-x top} */
/* .wufoo .focused{background:#FFF7C0}
.wufoo .instruct{background-color:#F5F5F5} */






/* Borders 
#container{border:0 solid #cccccc}
.wufoo .info{border-bottom:1px dotted #CCCCCC} 
*/



/* Typography 
.wufoo .info h2{font-size:160%;font-family:inherit;color:#000000}
.wufoo .info div{font-size:95%;font-family:inherit;color:#444444}
.wufoo .section h3{font-size:110%;font-family:inherit;background:#FFFFFF;color:#000000}
.wufoo .section div{font-size:85%;font-family:inherit;color:#444444}
.wufoo label.desc, .wufoo legend.desc{font-size:95%;font-family:inherit;color:#444444}
.wufoo li div, .wufoo li div label, .wufoo li span label{font-family:inherit;color:#444444}
.wufoo input.text, .wufoo textarea.textarea, .wufoo select.select, .wufoo label.choice{font-size:100%;font-family:inherit;color:#333333}
.wufoo label.choice{color:#444444}
.wufoo .instruct{font-size:80%;font-family:inherit;color:#444444
}*/

 

form.wufoo > ul {
    display: block;
    padding: 0;
    list-style: none;
}

form.wufoo > ul label {
    font-weight: 500;
    display: block;
}

form.wufoo > ul li {
    display: block;
    margin-bottom: 25px;
}

.mb25{
	margin-bottom: 25px !important;
	display: block;
}


form.wufoo > ul li textarea,form.wufoo > ul li input,form.wufoo > ul li select {
    display: block;
    width: 100%;
    border: 1px solid #dbdbdb;
    padding: 10px;
    border-radius: 3px;
    margin-top: 10px;
    outline: none;
}

.wufoo .instruct {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
	background-color:#F5F5F5
}
span.flexTxtInp {
    display: flex;
    flex-wrap: wrap;
	align-items: center;
    justify-content: flex-start;
}

span.flexTxtInp input {
    margin: 0 !important;
    margin-right: 10px !IMPORTANT;
    width: max-content !IMPORTANT;
}
.flexElements {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.flexElements > span {
    width: 15%;
    display: flex;
    align-items: center;
    margin-right: 1%;
}

.flexElements > span input,.flexElements > span select {
    margin: 0 !important;
}

.flexElements > img#pickdate111 {
    display: block;
}
.flexElements.lb100 label {
    display: block;
    width: 100%;
}

.flexElements.lb100 span {flex-wrap: wrap;}
section {
    text-align: center;
    margin: 30px 0;
}

/* Tablet screen :768px. */
@media (min-width: 768px) and (max-width: 991px) {
	.flexElements > span {
		width: 24%; 
	}

} 
/* Tablet screen :768px. */
@media (max-width: 767px) {
	.flexElements > span {
		width: 30%;
	}

} 














